{% extends 'core/base.html' %}

{% block title %} About | {% endblock %}

{% block content %}
    <section class="hero">
        <div class="hero-body">
            <div class="container">
                <section class="section">
                    <div class="columns">
                        <div class="column is-8 is-offset-2">
                            
                        	<div class="container mt-3">
							  	<blockquote class="blockquote">
							    	<p>Strive not to be a success, but rather to be of value</p>
							   		<footer class="blockquote-footer">Albert Einstein</footer>
							  	</blockquote>
							</div>
                            
                            <div class="content is-medium">
                                
                                <h1 class="title">
                                	Welcome to Pgbook.net – Your Journey to Personal Growth and Fulfillment!
                                </h1><br>
                                <p>
                                	At Pgbook, we are passionate about personal development and believe in the transformative power of self-improvement. Founded 2021, our blog is a space dedicated to inspiring and guiding individuals on their journey towards a more fulfilling and purpose-driven life.
                                </p><br/><br/>

                                <div class="card">
								  <div class="card-body">
								    <h4 class="card-title">Silas Miley</h4>
								    <p class="card-text">Hello there! I'm Silas, a creator weaving from Canada and through the realms of web development, design, and philosophy. As a web developer, designer, and graphic artist, I paint my digital canvas with pixels and lines, infusing creativity into every project.</p>
								    <a href="#" class="card-link">Read more</a>
								    <a href="#" class="card-link">Social links</a>
								  </div>
								</div><br>

                                <div class="">
								 	<form method="get" action="">
		                                <div class="control has-icons-left">
		                                    <input class="input is-rounded" name="" type="text" placeholder="Subscribe">
		                                    <span class="icon is-left">
		                                        <i class="fa fa-search"></i>
		                                    </span>
		                                </div>
	                            	</form>
								</div>


                                <p></p>
                                
                                <hr>

                            </div>
                            
                        </div>
                    </div><br><br><br>

                    <div class="row g-5 shadow p-4 mb-4 bg-white">
				      <div class="col-md-6">
				        <h2 class="text-body-emphasis">Empowering Lives Through Personal Growth</h2>
				        <p>
				        	Our mission is to empower you to unlock your full potential, cultivate a positive mindset, and lead a life that aligns with your aspirations. We are committed to providing valuable insights, actionable tips, and a supportive community to help you navigate the path of personal development.
				        </p>
				        <ul class="list-unstyled ps-0">
				          <li>
				            <a class="icon-link mb-1" href="https://github.com/twbs/examples/tree/main/icons-font" rel="noopener" target="_blank">
				              <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
				              Bootstrap npm starter
				            </a>
				          </li>
				        </ul>
				      </div>

				      <div class="col-md-6">
				        <h2 class="text-body-emphasis">What We Offer</h2>
				        <p>Community Engagement: Join our vibrant community of like-minded individuals who are committed to self-improvement. Share your experiences, participate in challenges, and connect with others on similar paths.</p>
				        <p>
				        	Dive into a wealth of articles, guides, and resources designed to ignite your passion for personal growth. From goal-setting strategies to mindfulness practices, we cover a wide range of topics to support your journey
				        </p>
				        <ul class="list-unstyled ps-0">
				          <li>
				            <a class="icon-link mb-1" href="/docs/5.3/getting-started/introduction/">
				              <svg class="bi" width="16" height="16"><use xlink:href="#arrow-right-circle"/></svg>
				              Bootstrap quick start guide
				            </a>
				          </li>
				        </ul>
				      </div>
				    </div>
				    <br><br><br><br>
				    <p class="">
                    	We love hearing from our readers! Connect with us on <a href="" data-bs-toggle="modal" data-bs-target="#myModal">social media</a>, sign up for our newsletter, or drop us an email at pgbook@gmail.com Your feedback, questions, and success stories are always welcome.

                    	<!-- The Modal -->
						<div class="modal" id="myModal">
						  <div class="modal-dialog modal-dialog-centered">
						    <div class="modal-content">

						      <!-- Modal Header -->
						      <div class="modal-header">
						        <h4 class="modal-title">Our Social Links</h4>
						        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
						      </div>

						      <!-- Modal body -->
						      <div class="modal-body">
						        Modal body..
						      </div>

						      <!-- Modal footer -->
						      <div class="modal-footer">
						        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
						      </div>

						    </div>
						  </div>
						</div>

						<p>Embark on a transformative journey with pgbook.net. Whether you're a seasoned self-improvement enthusiast or just starting, we invite you to explore the possibilities of personal growth with us.</p>

						<strong>Thank you for being a part of the pgbook.net community!</strong>

                    </p>

                </section>
            </div>
        </div>
    </section>


{% endblock %}